#welcome {
  font-family: 'Raleway', sans-serif;
  color: rgb(213, 93, 93);
  text-align: center;
  transition: color 1s ease-out
}

#welcome:hover {
  font-family: 'Raleway', sans-serif;
  color:  #4267b2;
  cursor: default;
  text-align: center;
}

.serviceName{
  color:   #4267b2;
}
#optionsList {
  text-align: center;
  list-style-type: none;
}

.options {
  font-size: 1.5em;
}

.serviceTable {
  width: 100%;
}

h1 {
  font-size: 50px;
  /* color: #058b75; */
  font-family: 'Raleway', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 300px;
  text-align: center;
  margin-bottom: 15px;
}

#services {
  font-size: 35px;
  color: rgb(213, 93, 93);
  text-transform: uppercase;
  font-weight: 300px;
  text-align: left;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
}
#addServiceButton{
color: white;
background-color:rgb(213, 93, 93);
border-radius: 20px;
padding: 10px;
cursor: pointer;
float: right;
font-size: 15px;
margin-right: 10px;
margin-top: 25px;
}

#exitButton{
color: white;
 background-color:rgb(213, 93, 93);
border-radius: 20px;
padding: 10px;
cursor: pointer;
float: right;
margin-top: 5px;
margin-right: 5px;
font-size: 15px;
}

#popoverDiv input {
    width: 70%;
    display: block;
    border: solid 1px;
    outline: none;
    padding-block-start: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    display: inline-table;
    position: sticky;

}
#popoverDiv{
    background-color: rgb(211, 211, 211);
    width: 60%;
    height: 60%;
    box-shadow: 0px 0px 0px 1000px rgba(119, 117, 117, 0.541);
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#popoverDiv button:hover{
/* background-color: #9c2525; */
box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container{
    text-align: center;
    
}
.container h3{
   
    margin-bottom: -2px;
}
.container input{
  margin-bottom: -25px;
}

/* Table Styling */

table {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  table-layout: fixed;
  /* background-color: grey; */
  background: rgba(204, 204, 204, 0)
}

.tbl-header {
 
  background: #4267b2;
}

#tableButton {
  color: rgb(37, 33, 33);
  text-decoration: none;
 
}

.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid#0183ff;
  font-weight: 400;
 
  background: #e9ebee;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;

  color: white;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  color: black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/* body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  /* font-family: 'Roboto', sans-serif; */

/* }  */

section {
  margin: 50px;
}

/* follow me template */

.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #9c2525;
}

.made-with-love i {
  font-family: 'Raleway', sans-serif;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.made-with-love a {
  color: #fff;
  text-decoration: none;
}

.made-with-love a:hover {
  text-decoration: underline;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#log-in {
  text-align: center
}

/* tool-tip styling  */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
