body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-image: url('../becca-k-tarter-1064087-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.alert {
    background-color: #004cf0e7;
    margin: 50px;
    text-align: center;
    padding: 20px;
}


.log-in, .log-out, .register {
  background-color: #004cf0;
  border-radius: 4px;
  border: solid 1px black;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  align-content: center;
}


/* This changes the color of the login, logout and register buttons when you hover over them */
.log-in:hover, .log-out:hover, .register:hover {
  background-color: #004cf0;
}

form {
    background-color:rgba(167, 165, 164, 0.911);
    width: 30%;
    height: 250px;
    margin: 150px auto;
    padding: 25px;
    border-radius: 5px;
}

#submitButton{
text-align: center;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
