body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* background-image: url('../sparkle.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
        background-color: rgba(224, 233, 240, 0.952);


    /* background-color: rgba(188, 207, 224, 0.952); */
    /* background-image: linear-gradient(to right top, #2f0537, #330447, #34055a, #2e0a6e, #191384); */
    /* background-image: linear-gradient(to right top, #6a0c7c, #680090, #6000a5, #4c00bd, #0d02d7); */
    /* background-image: linear-gradient(to right top, #0c7c1d, #007860, #006fb8, #005df3, #0d02d7); */
    /* background-image: linear-gradient(to right top, #0a0f0b, #002521, #003666, #0041bc, #0d02d7); */
    /* background-image: linear-gradient(to right top, #112315, #00322e, #004076, #0046c6, #0d02d7); */
    /* background-image: linear-gradient(to right top, #f1faee, #e4f4e7, #d7efe2, #c8e9df, #bae3dd, #a9d8d7, #9acdd1, #8bc2cc, #77b0c0, #649eb5, #538da9, #457b9d); */
    /* background-image: linear-gradient(to right top, #101f1a, #141a12, #15150c, #140f08, #0e0806, #181010, #1e151a, #211b24, #282e3f, #204459, #045c69, #16736b); */
    /* background-image: linear-gradient(to right top, #314647, #005160, #005982, #005da5, #005abf, #0056ba, #0053b5, #004fb0, #004a8b, #003b5d, #002a33, #021816); */
}

.alert {
    background-color: #004cf0e7;
    margin: 50px;
    text-align: center;
    padding: 20px;
}


.log-in, .log-out, .register {
  background-color: #004cf0;
  border-radius: 4px;
  border: solid 1px black;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  align-content: center;
}


/* This changes the color of the login, logout and register buttons when you hover over them */
.log-in:hover, .log-out:hover, .register:hover {
  background-color: #004cf0;
}

form {
    background-color:rgba(167, 165, 164, 0.911);
    width: 30%;
    height: 250px;
    margin: 150px auto;
    padding: 25px;
    border-radius: 5px;
}

#submitButton{
text-align: center;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
